{% extends 'base.html' %}

{% block title %}
    Success!
{% endblock title %}

{% block scripts %}
    <script>
        redirect = function () {
            window.location.assign("{{ url_for("web_pages.headers") }}")
        };

        $(document).ready(function () {
            window.location.assign("{{ url_for("api.headerresource") }}" + '?filename=' + '{{ filename }}');
        });

    </script>
{% endblock scripts %}

{% block body %}
    <div class="container">
        <h1>
            Success!
        </h1>
        <button id="button" type="button" onclick="redirect()" class="btn btn-outline-success">
            Click to go back and search for more headers
        </button>
    </div>
{% endblock body %}